# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
*.rar

# Compiled
*.obj
*.o
*.d
*.dump

*.keystore

#Dir
Demo_Example/
obj/
Tcp/
old/
xxx/
bin/
old/
*.wdat
_out/

Windows_Debug/